# Not all of these are relevant to this particular implementation

streamlit
openai==0.27.0
nltk
tqdm
gpt-index
langchain
streamlit-chat
stop-words
Pillow
scikit-learn
streamlit-extras
requests
llama-index
langchain_community
setuptools