# Not all of these are relevant to this particular implementation

streamlit
openai==0.27.0
nltk
tqdm
gpt-index==0.4.24
langchain==0.0.101
streamlit-chat
stop-words
Pillow
scikit-learn
streamlit-extras
requests
llama-index==0.4.24
langchain_community
setuptools
PyMuPDF